body {
	background-color: rgba(0,0,255,0.3);
    background-image: url("../img/arctic-1-png.png");
    background-repeat: no-repeat;
} 

p {

	font-size: 23px;
}

p.redtext {
	color: #E31045;
	padding-left: 2em;
}

p.main_blog, p.second_main{
	padding-left: 3em;
}






